<!DOCTYPE html>
<head>
    <title>HomePage</title>
</head>
<body>
    <div class= "jumbotron mt-4">
        <h1 class="display-4">Proyecto Mintic 2022</h1>
        <p class="lead">Nuevos programadores para Colombia</p>
        <p>Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsumLorem impsum </p>
        <a href="mailto:natalivelasquezm@gmail.com" class="btn btn-primary btn-lg">Escribeme</a>
    </div>
</body>
</html>